* {
  --main-color: #b9b9ff;
  --dark-color: #0a0a0a;
  --grey-color: #252525;
  --white-color: #fafafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid var(--main-color);
  padding: 3px 0;
}

header {
  overflow: hidden; 
}


/* Customisation du dropdown bootstrap*/
.dropdown a {
  border-radius: 0;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle::after {
  border: none
}

.dropdown-menu {
  border-radius: 0;
  border-color: var(--main-color);
}

/* CSS pour le contenu */

main {
  padding-top: 20px;
}

section {
  padding: 40px 0;
}

.actu {
  box-shadow: 0 0 10px var(--dark-color);
}

.actu article {
  max-width: 900px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

article h3 {
  font-size: 22px;
  padding: 10px 0;
  color: var(--main-color);
}

article h3 a {
  color: var(--main-color);
}

article p {
  text-align: justify;
  font-size: 14px;
}

.more {
  font-size: 12px;
}

.no-style {
  text-decoration: none;
}

.article-img {
  text-align: center;
  max-height: 300px;
  overflow: hidden;
}

article img {
  max-width: 500px;
}

.card {
  max-width: 500px;
  margin: 20px 20px
}

.form-sub {
  padding: 5px;
  margin: auto;
}

form > div {
  margin: 5px 0;
  padding: 5px 0;
}

.upperCase {
  text-transform: uppercase;
}

.pin {
  border: none;
  width: 15px;
  height: 15px;
}

/* CSS pour le footer */

footer {
  margin: 0;
}

footer .container {
  background-color: var(--dark-color);
}

footer ul {
  list-style: none;
  margin: 0;
  padding: auto;
  text-align: center;
}

.footer-socials {
  padding: 15px 0;
}

.footer-links {
  padding: 15px 0;
}

.footer-links a{
  color: var(--white-color);
  font-size: 12px;
}

/* 
CSS Responsive
*/
@media screen and ( max-width: 576px ){
  .wideScreen-display {
    display: none;
  }
  /* 
    Responsive pour le header
  */
  nav {
    height: 60px;
  }

  nav .dropdown {
    padding-left: 0;
  }

  .img-header {
    height: 45vh;
  }

  .sports {
    margin: auto;
  }

  .card {
    margin: 20px 0;
  }

  /*
    Responsive pour le contenu
  */

  .table-container {
    margin: 50px 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .table-schedule  {
    width: 800px;
    border: 2px solid var(--dark-color);
  }
}

@media screen and (min-width: 576px) {

  .wideScreen-display {
    display: flex;
  }

  body {
    max-width: 1300px;
    margin: auto;
    background-color: var(--grey-color);
  }

  main, header, nav {
    background-color: white;
  }

  header {
    width: 100%;
  }

  .responsive-display {
    display: none;
  }

  /* 
    header
  */
  nav {
    height: 110px;
  }

  nav ul {
    border: none;
    list-style: none;

    display: flex;
    flex-direction: row;

    align-items: center;

    max-width: 800px;
  }

  nav ul li {
    padding: 5px 20px;
  }

  .img-header {
    text-align: center;
    min-width: 1300px;
    max-height: 400px;
    overflow: hidden;  
  }

  .img-header img {
    min-width: inherit;
  }

  /* Contenu */

  .table-container {
    padding: 50px 0;
    overflow: auto;
  }

  .table-schedule  {
    margin: auto;
    width: 1000px;
    border: 2px solid var(--dark-color);
  }
}